.quizzesList {
  ul {
    padding: 0;
    width: 100%;
    justify-content: center;

    li {
      list-style: none;
      width: 75%;
      margin: -2px 0 0 0;
      padding: 5px;
      border-top: 2px solid #9db2bf;
      border-bottom: 2px solid #9db2bf;
      transition: 0.1s;
    }
    :hover {
      cursor: pointer;
      font-size: 120%;
      transition: 0.1s;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .quizzesList ul li {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .quizzesList ul li {
    width: 90%;
  }
}
